@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}

input, textarea, button {
  font-family: var(--font-geist-mono), monospace;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #000000;
  color: #ffffff;
}
